@media screen and (max-width: 480px) {
    body {
        font-family: 'Avenir', sans-serif;
        padding-bottom: 35px; /* Hauteur du footer */
        width: 400px;
        margin: 0 auto;
        background: linear-gradient(purple, orange);
        text-align: center;
        justify-content: center;


    }
    
    /* .agence {
        background: linear-gradient(purple, orange)
    } */
    
    table {
        width:300px;
    }
    th {
        background-color: #04AA6D;
        color: white;
      }
      
      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      
      tr {
        background-color: white;
      }
      tr:hover {background-color: #999999;}
    
    
    
    
    
    
    
    nav {
        background-color: #333;
        padding: 10px;
        width: 400px;
        display: flex;
        justify-content: center;
    }

    nav li {
        display: inline;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: 10px;
        display: inline;
    }

    nav a:hover {
        background-color: #555;
        color: yellow;
        border-radius: 5px;
    }

    .active {
        color: #ffcc00;
        border-radius: 5px;
    }
}
@media screen and (min-width: 480px) {
body {
    font-family: 'Avenir', sans-serif;
    min-height: 100%;
    margin: 0;
    flex: 1;
    min-height: 100vh;
    padding-bottom: 35px; /* Hauteur du footer */
    width: 1080px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.agence {
    background: linear-gradient(to bottom right, purple, orange);
}



th {
    background-color: #04AA6D;
    color: white;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr {
    background-color: white;
  }
  
  tr:hover {background-color: #999999;}





nav {
    background-color: #333;
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    display: inline;
}

nav a:hover {
    background-color: #555;
    color: yellow;
    border-radius: 5px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

.active {
    color: #ffcc00;
    border-radius: 5px;
}


}